.main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
    background-color: #2874f0;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 2s ease;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}

.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #2874f0;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar{
    transition: all 0.3s ease;
}
.main-navbar.fixed {
    position: fixed;
    width: 100%;
    top: 10;
    transition: all 0.6s ease; 
    z-index: 100;
}
.container-fluid.fixed{
    position: fixed;
    transition: all 0.6s ease; 
}
body, .main-navbar, .second-navbar {
    scroll-behavior: smooth;
  }

.brand-name{
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}
.nav-link {
    color: black;
    
  }
  #responsive-navbar-nav{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .text{
   color: #969393;
   font-size: 16px !important;
  }
  .nav-link.active {
    color: blue;
    font-weight: bolder;
  }
  .navbar{
    transition: all 600s ease-in;
  }
  .dropdown-item-custom {
    /* Adjust the padding values as needed */
    margin-bottom: 0.5em !important;
    padding: 0.3em 3em 0.3em 3em !important;
  }
  /* .funda{
    padding: 0.1em;
  } */
  
  /* Optional: If you want to add a box shadow to the dropdown */
  .dropdown-item-custom:hover {
     color: #2874f0!important;
     box-shadow: none !important;
  }
  
  .brand-name:hover{
    color: #fff!important;
    text-decoration: none !important;
    border: none !important;
  } 
  .logo img{
    width: 200px;
  }
@media only screen and (max-width: 768px) {
  .logo img{
    width: 125px;
  }
    
}
@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
    .brand-name{
        font-size: 18px;
    }
    
}